<body>
    <header>
        <div class="row border4">
            <div class="col-md-2 text-left">
                </div>
            <div class="col-md-6 text-center">
                <img src="assets/Logo_SONL_ver_6_1.png" class="img100">
            </div>
            <div class="col-md-1 text-center">
                <img src="assets/Przycisk_8_2_2_Home_czysty.png" alt="" class="img80">
                Home
            </div>
            <div class="col-md-1 text-center">
                <img src="assets/Logout_koniec.png" alt="" class="img80">
                Logout
            </div>
            <div class="col-md-2 text-right">
                Opcje
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
        
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="assets/Przycisk_1_2_SEAL_czysty.png" alt="" class="img80">
                    <div class="text-center">
                        EFL
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <img src="assets/EFL_ico_ver_3.png" alt="" class="img80">
                    <div class="text-center">
                        EIL
                    </div>
                </div>
                <div class="col-md-2  text-center">
                    <img src="assets/Przycisk_1_2_Personel_czysty.png" alt="" class="img80">
                    <div class="text-center">
                        Personel
                    </div>
                </div>
                <div class="col-md-2  text-center">
                    <img src="assets/SPW_ver_1.png" alt="" class="img80">
                    <div class="text-center">
                        SPW
                    </div>
                </div>
                <div class="col-md-3  text-center">
                    <img src="/assets/Gosp_mat_ver_1.png" alt="" class="img80">
                    <div class="text-center">
                        Gosp mat
                    </div>   
                </div>
            </div>
    </div>
    </nav>
    <footer>
        <div class="container-xl border4 text-center">
            <img src="/assets/Logo_ITWL.png" class="imgLogo">
            Prawa autorskie @ 2022 INSTYTUT TECHNICZNY WOJSK LOTNICZYCH
        </div>
    </footer>
</body>
