body {background-color: #6e7d85;
    background: -webkit-linear-gradient(#6e7d85, #ffffff);
    background: -moz-linear-gradient(#6e7d85, #ffffff);
    background: -o-linear-gradient(#6e7d85, #ffffff);
    background: linear-gradient(#6e7d85, #ffffff); }

.column15 {width: 15%}

.img100 {width: 128px; height: 100px;}
.img80 { width: 80px; height: 80px;}
.border4{border: 10px; padding: 5px; align-content: center;}
.imgLogo{width: 30px; height: 30px;}